.main-body{
    background-color: rgb(25,25,25);
}





.div-1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position:fixed;
}
.right-section{ 
    background-color: lightpink;
}
.image-class1{
    height:45px;
}
.middle-section{
    background-color: lightblue;
}
.left-section{
    background-color: lightpink;
}